<footer class="site-footer h-card">
  <div class="wrapper">
    <div>
      <p>{{ site.description | escape }}</p>
    </div>

    <div class="social-links">
      <ul class="social-media-list">
        <li>
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg
              class="svg-icon orange"
              focusable="false"
              aria-hidden="true"
              width="16"
              height="16"
            >
              <use
                xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"
              ></use></svg
            ><span>Subscribe</span>
          </a>
        </li>

        {%- if site.github -%}
        <li>
          <a
            rel="me"
            href="https://github.com/{{ site.github }}"
            title="{{ site.github | escape }}"
            ><svg
              class="svg-icon grey"
              focusable="false"
              aria-hidden="true"
              width="16"
              height="16"
            >
              <use
                xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"
              ></use></svg
            ><span>GitHub</span></a
          >
        </li>
        {%- endif -%}
      </ul>
    </div>
    <div>
      <p>Made by <a href="{{site.url}}">Double Great</a></p>
    </div>
  </div>
</footer>
