<h2 id="test-cases" class="table-heading">Test cases</h2>
<div class="table">
  {%-for case in include.cases-%}
  <div class="table-grid" id="{{case.title | slugify}}">
    <div class="table-grid-title">
      <a href="#{{case.title | slugify}}"
        >{% include icon/hash.svg %}{{case.title}}</a
      >
      <pre><code>{{case.example}}</code></pre>
    </div>
    <div
      class="table-grid-audio"
      id="{{case.title | append: '-macos' | slugify}}"
    >
      <div class="table-grid-audio-title">VoiceOver macOS&nbsp;10.15</div>
      {% if case.macos %}{% include audio.html case=case.title title="macOS"
      file=case.macos %}{% endif %}
    </div>
    <div
      class="table-grid-audio"
      id="{{case.title | append: '-jaws' | slugify}}"
    >
      <div class="table-grid-audio-title">JAWS&nbsp;2020 Windows&nbsp;8.1</div>
      {% if case.jaws %}{% include audio.html case=case.title title="JAWS"
      file=case.jaws %}{% endif %}
    </div>
    <div
      class="table-grid-audio"
      id="{{case.title | append: '-nvda' | slugify}}"
    >
      <div class="table-grid-audio-title">
        NVDA&nbsp;2019.2.1 Windows&nbsp;8.1
      </div>
      {% if case.nvda %}{% include audio.html case=case.title title="NVDA"
      file=case.nvda %}{% endif %}
    </div>
    <div
      class="table-grid-audio"
      id="{{case.title | append: '-ios' | slugify}}"
    >
      <div class="table-grid-audio-title">VoiceOver iOS&nbsp;13</div>
      {% if case.ios %}{% include audio.html case=case.title title="iOS"
      file=case.ios %}{% endif %}
    </div>
  </div>
  {%-endfor-%}
</div>
<p><a class="button" href="test">View test case page</a></p>

<script>
  var players = Plyr.setup(".js-player", {
    controls: ["play", "mute"],
  });

  focusDrop(document.querySelectorAll(".js-player"));
  focusDrop(document.querySelectorAll(".plyr--full-ui"));

  function focusDrop(el) {
    for (i = 0; i < el.length; i++) {
      el[i].setAttribute("tabindex", -1);
    }
  }
</script>
