.plyr {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0.25rem;
  color: $color-text-body;
  font-weight: 400;
  font-family: inherit;
  direction: ltr;
  border-radius: 0.25rem;

  @include bp($mq-small) {
    margin: 0 auto;
  }
}

.plyr,
audio {
  max-width: 5rem;
}

.plyr audio {
  display: block;
  width: 100%;
  height: 100%;
}

.plyr button {
  width: auto;
  font: inherit;
  line-height: inherit;
}

.plyr__sr-only {
  @extend %u-visually-hidden--hide-focus;
}

.plyr__control {
  position: relative;
  flex-shrink: 0;
  padding: 0.5rem;
  overflow: visible;
  color: inherit;
  background: transparent;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.plyr__control svg {
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  fill: currentColor;
}

.plyr__control.plyr__control--pressed .icon--not-pressed,
.plyr__control:not(.plyr__control--pressed) .icon--pressed {
  display: none;
}

.plyr__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.plyr__controls .plyr__controls__item {
  margin-left: calc(0.5rem / 4);
}

.plyr__controls .plyr__controls__item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.plyr__controls:empty {
  display: none;
}

.plyr__volume {
  position: relative;
  display: flex;
  align-items: center;
}

.plyr--is-ios .plyr__volume {
  width: auto;
  min-width: 0;
}

.plyr--audio {
  display: block;
}

.plyr--audio .plyr__control:hover {
  color: $color-barely;
  background: $color-link;
}
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:focus {
  color: $color-text-body;
  text-decoration: none;
  background-color: $color-highlight;
  outline: $border-thick solid transparent;
  outline-offset: 0;
  box-shadow: 0 -0.125rem $color-highlight, 0 0.25rem $color-text-body;
}
