.table {
  margin-bottom: 2rem;
  border-top: $border-thick solid $color-border;
  border-bottom: $border-thick solid $color-border;

  @include bp($mq-medium) {
    margin-right: -3rem;
    margin-left: -3rem;
  }

  > :last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}
.table-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: $border-thin solid $color-border;
}

.table-grid-title {
  flex-shrink: 0;
  width: 100%;

  @include bp($mq-small) {
    width: 15rem;
  }
}

.table-grid-audio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include bp($mq-small) {
    display: block;
    width: 5rem;
  }
}

.table-grid-audio-title {
  font-size: 1rem;

  @include bp($mq-small) {
    font-size: 0.9rem;
    text-align: center;
  }
}
