a.button {
  display: inline-block;
  padding: 5px 16px;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  margin-bottom: 15px;
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.25);

  &:hover {
    text-decoration: none;
  }
}

.punctuation-test-case {
  img {
    max-width: 24%;
    display: inline-block;
  }
}
