.site-title {
  letter-spacing: 0 !important;
}

.post-meta {
  color: #757575; // a11y color contrast
}

a {
  color: #2371d8; // a11y color contrast
}

.page-heading {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.page-content {
  flex: unset;
}

.post-list,
.post-list > li {
  margin-bottom: 0;
}

.post-list h3 {
  margin-bottom: 0px;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: 0;
}

table td {
  vertical-align: top;
}

audio,
figure {
  margin: 0;
}

audio {
  width: 100px;
  height: 30px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

@media (min-width: 900px) {
  .expand {
    margin: 0 -35px;
  }
}
