// minima overrides

.site-title {
  letter-spacing: 0 !important;
}

.post-meta {
  color: var(--text-accent); // a11y color contrast
}

a {
  color: var(--link-color); // a11y color contrast

  .post-list p &,
  .post-content & {
    text-decoration: underline;
  }
}

.page-content {
  flex: unset;
}

.post-list {
  margin-bottom: 30px;
  > li,
  h2 {
    margin-bottom: 0;
  }
}

.post-list-heading {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
}

figure {
  margin: 0;
}
