.plyr {
  min-width: unset !important;
  max-width: 100px !important;
}
.plyr__volume {
  min-width: 34px !important;
}
.plyr--audio .plyr__controls {
  background: transparent !important;
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded="true"] {
  background: none !important;
  transition: none !important;
  color: var(--link-color) !important;
  outline-color: var(--link-color) !important;
  outline-style: solid !important;
}
