// stylelint-disable declaration-no-important
.plyr {
  min-width: unset !important; // stylelint-disable-line plugin/no-unsupported-browser-features
  max-width: 5rem !important;
}
.plyr__volume {
  min-width: 1.75rem !important;
}
.plyr--audio .plyr__controls {
  background: transparent !important;
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control:focus,
.plyr--audio .plyr__control[aria-expanded="true"] {
  color: var(--link-color) !important;
  background: none !important;
  outline-style: solid !important;
  outline-color: var(--link-color) !important;
  transition: none !important;
}
// stylelint-enable
