table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: 0;
}

table th,
table td {
  vertical-align: top;
}

@media (min-width: 900px) {
  .table-wrapper {
    margin: 0 -40px;
  }
}
