table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  empty-cells: show;
  border: var(--border-thin) solid var(--color-border);
  border-collapse: collapse;
  border-spacing: 0;
}

table thead {
  color: var(--color-text-heading);
  text-align: left;
  vertical-align: bottom;
  background-color: var(--color-accent);
}

table td,
table th {
  margin: 0;
  padding: 0.25rem 0.75rem;
  font-size: inherit;
  vertical-align: top;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left: var(--border-thin) solid var(--color-border);
}

table td {
  background-color: transparent;
  border-bottom: var(--border-thin) solid var(--color-border);
}

thead > tr > th:first-child,
tbody > tr > td:first-child {
  border-left-width: 0;
}
tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.table-wrapper {
  position: relative;
  overflow: hidden;

  @include bp($mq-medium) {
    margin: 0 -2rem;
  }

  @include bp($mq-large) {
    margin: 0 -3rem;
  }
}
