$color-link: #2371d8;
$color-text-accent: #757575;
$color-accent: #cbcbcb;

$mq-small: 40em; // 640px
$mq-medium: 50em; // 800px
$mq-large: 70em; // 1120px

:root {
  --text-accent: #{$color-text-accent};
  --link-color: #{$color-link};
  --border-color: #{$color-accent};
}

@mixin bp($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin bp-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

%unlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
